{
    "UserAgent": "aws-amplify-cli/0.1.0",
    "Version": "0.1.0",
    "IdentityManager": {
        "Default": {}
    },
    "CredentialsProvider": {
        "CognitoIdentity": {
            "Default": {
                "PoolId": "{{ IdentityPoolId }}",
                "Region": "{{ Region }}"
            }
        }
    },
    "CognitoUserPool": {
        "Default": {
            "PoolId": "{{ UserPoolId }}",
            "AppClientId": "{{ UserPoolAppClientId }}",
            "AppClientSecret": "{{ UserPoolAppClientSecret }}",
            "Region": "{{ Region }}"
        }
    },
    "AppSync": {
        "Default": {
            "ApiUrl": "{{ APIUrl }}",
            "Region": "{{ Region }}",
            "AuthMode": "AWS_IAM"
        }
    }
}